body {
    /* background-image: -webkit-linear-gradient(to bottom, #f7e8df, #c8edf9);
    background-image: linear-gradient(to bottom, #f7e8df, #c8edf9);
    background-repeat: no-repeat; */
}
input {
    -webkit-appearance: none;
}
.container-fluid{
    margin: 0;
    padding: 0;
}
.content {
    padding-left: 0;
    padding-right: 0;
    box-shadow: 0 0 10px #ccc;
    overflow: hidden;
    background: #FFF;
}
.activeTitle {
    background: #FF8533;
}
.top {
    padding: 10px;
    text-align: center;
    color: #FFF;
    font-size: 16px;
 }
/* 表单 */
form {
    padding: 0 20px;
}
#activityTitle{
    font-size: 22px;
    line-height: 30px;
}
.Deadline {
    font-weight: 700;
}
.checkbox label,
.radio-inline {
    padding-left: 10px;
}
.radio-inline+.radio-inline{
    margin: 0;
}
.my_protocol .input_agreement_protocol {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    display: none;
}
.my_protocol .input_agreement_protocol+span {
    width: 16px;
    height: 16px;
    background-color: red;
    display: inline-block;
    background: url(../images/icon_checkbox.png) no-repeat;
    background-position-x: 0px;
    background-position-y: -25px;
    position: relative;
    top: 3px;
    padding-right: 25px;
}
.my_protocol .input_agreement_protocol:checked+span {
    background-position: 0 0px;
    padding-right: 25px;
}
@media (min-width: 1200px) {
    .content {
        width: 800px;
    }
}
@media (min-width: 768px) {
    .content {
        width: 738px;
    }
}