.nav-content {
    height: 50px;
    line-height: 50px;
}

.activity-nav {
    box-shadow: 0 2px 8px 0 rgba(7, 17, 27, .06) !important;
}

.gridContainer {
    padding: 10px;
    border-radius: 4px;
    color: #FFF;
}

.title-pic>span {
    font-size: 30px;
}

.gridContainer-apply {
    min-height: 87px;
}

.title-apply {
    margin-top: 19px;
}

.toapply {
    position: absolute;
    right: 15px;
    top: 9px;
    padding: 10px 20px;
    background-color: #FF7283;
    color: #FFF;
    border-radius: 4px;
    line-height: 1;
}

footer.row {
    border-top: #ccc 1px solid;
    background: #f9f9f9;
    padding: 0 10px;
    margin-top: 30px;
    height: 80px;
    line-height: 40px;
}

.bynsi {
    position: absolute;
    right: 15px;
    color: #666;
    top: 0px;
}

.bynsi>a,
.friendHref>a {
    color: #333;
    margin: 0 3px;
}

.friendHref {
    position: absolute;
    right: 12px;
    color: #666;
    top: 35px;
}

.foot {
    position: fixed;
    bottom: 20px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    color: #888;
}