body {
    /* background-image: -webkit-linear-gradient(to bottom, #f7e8df, #c8edf9);
    background-image: linear-gradient(to bottom, #f7e8df, #c8edf9);
    background-repeat: no-repeat; */
    background-color: #eee;
}

.activeTitle {
    line-height: 40px;
    background: #FF8533;
    margin: 0 -15px;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.top {
    max-width: 770px;
    padding-left: 30px;
}

.activeTitle_logo {
    color: #FFF;
    font-size: 29px;
    vertical-align: middle;
}

.activeTitle_desc {
    color: #FFF;
    font-size: 15px;
    padding-left: 5px;
    letter-spacing: 1px;
}

.activityPic {
    width: 100%;
    margin: 0 auto;
    max-height: 260px;
}

.content {
    overflow: hidden;
    background-color: #eee;
}

.list_color {
    height: 50px;
    margin: 20px 0;
}

.list_color_one {
    padding-right: 4px
}

.list_color_two {
    padding-left: 4px
}

.yuan {
    color: #e03340;
    font-size: 18px;
}

.btn_flex {
    margin: 15px 20px;
}

.btn_flex .btn-success {
    margin-right: 6%;
}

.btn_flex .btn-success,
.btn-primary {
    border-radius: 4px;
    width: 47%;
    padding-right: 0px;
    padding-left: 0px;
    float: left;
}

button {
    outline: none;
}

.RadioStyle input {
    display: none
}

.RadioStyle label {
    border: 1px solid #ccc;
    background-color: #fff;
    color: #666;
    line-height: 48px;
    width: 100%;
    height: 100%;
    text-align: left;
    float: left;
    border-radius: 4px;
    padding: 0 20px;
    overflow: hidden;
}

.alert {
    margin: 15px 0;
}

.alert p {
    line-height: 24px;
}

.alert hr {
    margin: 15px 0;
}

.jiner {
    display: none;
}

.h2_center {
    text-align: center;
    font-size: 20px;
    margin: 10px 0;
}

@media (min-width: 760px) {
    body {
        background-image: -webkit-linear-gradient(to bottom, #f7e8df, #c8edf9);
        background-image: linear-gradient(to bottom, #f7e8df, #c8edf9);
        background-repeat: no-repeat;
    }
    .container-fluid {
        padding-right: 15px;
        padding-left: 15px;
    }
    .content {
        width: 800px;
    }
    .container {
        padding: 0;
    }
    .activeTitle {
        margin-top: 20px;
    }
    .alert {
        margin: 0 0 100px;
    }
    .jiner {
        font-size: 14px;
        height: 35px;
        line-height: 47px;
        padding: 0 10px 0 0;
        font-weight: bold;
        width: 20%;
        display: inline-block;
        float: left;
    }
    .btn_flex {
        margin: 100px 0 0;
        padding: 0 0 0 20px;
        border: 0;
        background-color: #fff;
        height: 47px;
    }
    .btn_flex .btn-success {
        margin-right: 0%;
    }
    .btn_flex .btn_r {
        float: right;
        width: 36%;
    }
    .btn_flex .btn-success,
    .btn-primary {
        border-radius: 0;
        width: 50%;
        padding-right: 0px;
        padding-left: 0px;
    }
    .Block {
        margin: 0;
        padding: 0 80px;
    }
    .list_color {
        height: 50px;
        margin-bottom: 15px;
        padding-right: 8px;
        padding-left: 8px;
    }
    .RadioStyle label {
        border: 1px solid #CCC;
        color: #666;
        line-height: 48px;
        width: 100%;
        height: 100%;
        text-align: left;
        float: left;
        border-radius: 4px;
        padding: 0 0 0 15px;
    }
}